.Gamepage {
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.Gamepage header {
	background-color: rgb(246, 125, 125);
	height: 50px;
	z-index: 10;
	flex-shrink: 0;
}

.Gamepage .main {
	background-color: grey;
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow: auto;
}

.Gamepage header, .Gamepage header .buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.Gamepage header .buttons {
	justify-content: flex-end;
}

.Gamepage header .money {
	font-size: 30px;
	padding: 5px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	display: flex; flex-direction: column; justify-content: center;
}

.Gamepage header button {
	width: 100px;
	background-color: burlywood;
}

.main-padding {
	box-sizing: content-box;
	padding: 50px;
	height: 100%;
	width: 100%;
}