.settings {
    position: absolute;
    top: 70px;
    right: 20px;
    z-index: 1;
}

.settings .content {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0 10px 10px 10px;
    position: relative;
    flex-wrap: wrap;
}

.settings .labels {
    width: 42%;
    margin-left: 19%;
}

.settings .inputs input {
    width: 35px;
}

.settings .labels, .settings .inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.settings .labels label, .settings .inputs input {
    display: block;
    margin: 5px 0;
}

.settings .content .buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    justify-content: center;
}

.settings button {
    width: 80px;
    height: 30px;
    margin: 0 15px;
    border: 2px solid #1477ff;
    background-color: white;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    outline: none;
}

/* Green */
.settings button {
border-color: #1477ff;
color: #0069fb;
}

.settings button:hover {
background-color: #1477ff;
color: white;
}