:root {
	--cellsize: 50px;
}

#gamespace {
	display: flex;
	border: 1px solid black;
	background: lightgreen;
}

#gamespace tr {
	border: 1px solid black;
	height: var(--cellsize);
}

#gamespace td {
	border: 1px solid black;
	width: var(--cellsize);
}

main {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	background-image: url('https://www.smartcitiesworld.net/AcuCustom/Sitename/DAM/019/Theme_park_AdobeStock_222547272_1.jpg');
	background-repeat: repeat;
	background-size: cover;
	overflow: auto;
}